.image--format {
    width: 100%;
    padding-bottom: 1rem;
    border: 1px solid black;
}

.underline {
    border-bottom: 1px solid rgba(128, 128, 128, 0.644);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.paragraph--div {
    margin: 1rem 0;
}
